/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            // |  A  |  B |  C  |  D  |  E   |  F  |                        
            // |  G  |  H |  I  |  J  |  K   |  L  |                        
            // |  TAP  |  N  |  O  |  P   |  Q   |  R  |

            bindings = <
                &kp A &kp B &kp C &kp D &kp E &kp F
                &kp G &kp H &kp I &kp J &kp K &kp L
                &td0  &kp N &kp O &kp P &kp Q &kp R
            >;
        };

        function_layer {
            display-name = "Function";

            bindings =<
                &bt BT_SEL 0 &bt BT_SEL 1   &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5
                &bootloader  &studio_unlock &none        &none        &none        &none
                &tog 1       &none          &none        &none        &none        &none
            >;
        };
    };
};
